<div data-ng-controller="TripListCtrl">
  <div data-ng-include="'partials/navbar.html'"></div>
  <div class="panel panel-default">
    <div class="alert alert-warning" data-ng-if="errorMessage">
      Drat! Something went wrong.
      <span data-ng-bind="errorMessage"></span>
    </div>
    <div class="alert alert-warning"
        data-ng-if="!errorMessage && nextToArrive.$resolved && nextToArrive.length == 0">
      No trip from
      <span data-ng-bind="stationFrom"></span>
      to
      <span data-ng-bind="stationTo"></span>
      is possible at this time.
    </div>
    <div class="list-group" data-ng-repeat="trip in nextToArrive">
      <div class="list-group-item active">
        <span data-ng-bind="trip.depart"></span>
        &#8211;
        <span data-ng-bind="trip.arrive"></span>
        <span data-ng-if="trip.trains.length > 1">
        &#8211;
        <span data-ng-bind="trip.trains.length - 1"></span>
        connection
        </span>
      </div>
      <div data-ng-repeat="train in trip.trains">
        <a href="#" class="list-group-item"
            data-ng-click="showTrain(train, $event)">
          <div>
            <span data-ng-bind="train.line"></span>
            <span data-ng-bind="train.train"></span>
          </div>
          <div>
            <span data-ng-bind="train.depart"
              data-ng-class="{'app-delayed-from': train.departDelayed}"></span>
            <span class="app-delayed-to" data-ng-bind="train.departDelayed"></span>
            <span class="app-delay" data-ng-bind="train.delay"
              data-ng-if="train.delay"></span>
            Depart @
            <span data-ng-bind="train.from"></span>
          </div>
          <div>
            <span data-ng-bind="train.arrive"
              data-ng-class="{'app-delayed-from': train.departDelayed}"></span>
            <span class="app-delayed-to" data-ng-bind="train.arriveDelayed"></span>
            <span class="app-delay" data-ng-bind="train.delay"
              data-ng-if="train.delay"></span>
            Arrive @
            <span data-ng-bind="train.to"></span>
          </div>
        </a>
        <div class="list-group-item list-group-item-warning"
            data-ng-repeat="alert in alerts[train.line]">
          <div data-ng-bind="train.line"></div>
          <div data-ng-bind-html="alert"></div>
        </div>
      </div>
    </div>
  </div>
</div>
